:root {
  --black: #000;
  --white: #fff;
  --gray: #f2f2f2;
  --gray2: #c0c0c0;
  --purple: #9333ea;
  --red: #b91c1c;
  --fs-sm: 0.7rem;
  --fs-md: 1rem;
  --fs-lg: 1.2rem;
  --fs-xl: 1.5rem;
  --fs-xxl: 3rem;
  --rounded: 5px;
  --fw-bolder: 900;
  --fw-normal: 600;
  --fw-flat: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

