:root {
  --black: #000;
  --white: #fff;
  --gray: #f2f2f2;
  --purple: #9333ea;
  --fs-sm: 0.7rem;
  --fs-xl: 1.5rem;
  --rounded: 5px;
  --fw-bolder: 900;
  --fw-normal: 600;
  --fw-flat: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  height: 100vh;
}


img {
  width: 100%;
  left: 0;
  position: sticky;
  object-fit: cover;
  border: 5px;
  scroll-snap-align: center;
}

