.navbar {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-bottom: 1px solid var(--gray2);

  .containerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .containerBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.brand {
  font-size: var(--fs-lg);
  font-weight: 900;
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-direction: column;
}
